[submodule "submodules/rmrf"]
	path = submodules/rmrf
	url = https://github.com/LRahlff/ReadMailReallyFast.git
[submodule "submodules/Docs"]
	path = submodules/Docs
	url = git@github.com:Mission-DMX/Docs.git
[submodule "submodules/memory-allocators"]
	path = submodules/memory-allocators
	url = https://github.com/mtrebi/memory-allocators.git
