[submodule "submodules/rmrf"]
	path = submodules/rmrf
	url = https://git.chaotikum.org/ReadMailReallyFast/code.git
[submodule "submodules/Docs"]
	path = submodules/Docs
	url = git@github.com:Mission-DMX/Docs.git
[submodule "submodules/memory-allocators"]
	path = submodules/memory-allocators
	url = https://github.com/mtrebi/memory-allocators.git
[submodule "submodules/luacpp"]
	path = submodules/luacpp
	url = git@github.com:jordanvrtanoski/luacpp.git
[submodule "submodules/sol2"]
	path = submodules/sol2
	url = git@github.com:ThePhD/sol2.git
